{% extends "base.html" %}
{% load static %}
{% block title %} hey   {% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/cp.css' %}" type="text/css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">Reset Password</h5>
                    <form method="post">
                        {% csrf_token %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="mb-3">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="reconfirm_password">Reconfirm Password:</label>
                            <input type="password" class="form-control" id="reconfirm_password" name="reconfirm_password" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock %}



















































































































