{% extends "base.html" %}
{% load static %}
{% block title %} Hey {% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/fdetail.css' %}" type="text/css">
<div class="wrapper">
    <form class="form" method="POST" action="{% url 'take_attendance' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="semester">Select semester:it</label>
        <select id="semester" name="semester" class="select-field">
          <option value="1st sem">1st sem</option>
          <option value="2nd sem">2nd sem</option>
          <option value="3rd sem">3rd sem</option>
          <option value="4th sem">4th sem</option>
          <option value="5th sem">5th sem</option>
          <option value="6th sem">6th sem</option>
          <option value="7th sem">7th sem</option>
          <option value="8th sem">8th sem</option>
        </select>
      </div>
      <div class="form-group">
        <label for="faculty">Faculty Name:</label>
        <input type="text" id="faculty" name="user_name" class="select-field" value="{{ request.session.faculty_username }}" readonly>
      </div>
      <div class="form-group">
        <label for="lecture-name">Lecture Name:</label>
        <select id="lecture-name" name="lecture_name" class="select-field">
          <option value="Network Analysis">Network Analysis</option>
          <option value="Digital Electronics">Digital Electronics</option>
          <option value="Systems Theory">Systems Theory</option>
          <option value="Wind Energy">Wind Energy</option>
          <!-- Add more lecture options here -->
        </select>
      </div>
      <div class="form-group">
        <label for="time-slot">Time Slot:</label>
        <select id="time-slot" name="time_slot" class="select-field">
          <option value="10-11">10:00 AM - 11:00 AM</option>
          <option value="11-12">11:00 AM - 12:00 PM</option>
          <option value="1-3">1:00 PM - 3:00 PM</option>
          <option value="3-4">3:00 PM - 4:00 PM</option>
        </select>
      </div>
      <button type="submit" class="submit-button">Submit</button>
      <a href="{% url 'view_attendance' %}" class="view-attendance-button">View Attendance</a>
    </form>
</div>

{% endblock %}
